# too large for github:
/MA/Literatur/KoordSys/131123-explanatory-supplement-astronomical-almanac.pdf
/MA/Literatur/KoordSys/1961 - Explanatory Supplement Astronomical Almanac.pdf
/MA/Literatur/KoordSys/1992 - Explanatory Supplement Astronomical Almanac
/Ulysses/Trajectory/Koordtrafo_Martin/spice_martin/data/*
/Ulysses/Trajectory/SPICE/data/*
/Ulysses.idea/workspace.xml
/MA/MA_Journal/*.pdf
*.mp4

# binary file written by dbData:
tmp.dat
*.tmp


# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython
profile_default/
ipython_config.py

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# standalone packages
*.sta

# Makeindex log files
*.lpz
